.sentiment-analysis-page textarea {
    width: 100%;
    max-width: 40vw;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
}
  
.sentiment-analysis-page button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
  
.sentiment-analysis-page .result {
    margin-top: 2.5rem;
}
  
.sentiment-analysis-page .error {
    color: red;
    margin-top: 1.25rem;
}

.sentiment-analysis-page .sentiment-analysis-history-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}
